<ion-view view-title="Sign" name="Sgin-view">
  <ion-content class="padding">
      <div class="list list-inset">
          <div class="item item-input item-select">
              <span class="input-label">用户名称</span>
              <input type="text" placeholder="Username" ng-model="user.username">
              <span class="input-label">用户类型</span>
              <select ng-model="user.authType">
                  <option selected>普通用户</option>
                  <option>管理员用户</option>
              </select>
          </div>
          <div class="item item-input">
              <span class="input-label">请输入密码</span>
              <input type="password" placeholder="Password" ng-model="user.password">
          </div>  
          <div class="item item-input">
              <span class="input-label">再次输入密码</span>
              <input type="password" placeholder="Confirm Password" ng-model="user.confirmPassword">
          </div>
      </div>    
      <div class="list list-inset">    
          <div class="item item-input item-select">
              <span class="input-label">员工姓名</span>
              <input type="text" placeholder="Name" ng-model="employee.name">
              <span class="input-label">性别</span>    
              <select ng-model="employee.sex">
                  <option selected>男</option>
                  <option>女</option>
              </select>
          </div>          
          <div class="item item-input">
              <span class="input-label">出生日期</span>
              <input type="text" placeholder="1989/12/21" value="{{getBrithdayStr()}}" ng-click="openDatePicker()">
          </div>          
          <div class="item item-input">
              <span class="input-label">联系电话</span>
              <input type="text" placeholder="Tel" ng-model="employee.tel">
          </div>
          <div class="item item-input">
              <span class="input-label">省份证号</span>
              <input type="text" placeholder="ID" ng-model="employee.ID">
          </div>
          <!-- Select the store the employ belong -->
          <div class="item item-input-inset item-select-inset">
              <span class="input-label">选择门店</span>
              
              <select ng-model="location.province" ng-change="selectProvince()">
                  <option ng-repeat="province in provinces" value="{{province}}">{{province.name}}</option>
              </select>
              <span class="input-label padding">省</span>
              
              <select ng-model="location.city" ng-change="selectCity()">
                  <option ng-repeat="city in citys" value="{{city}}">{{city.name}}</option>
              </select>
              <span class="input-label padding">市</span>
              
              <select ng-model="location.area" ng-change="selectArea()">
                  <option ng-repeat="area in areas" value="{{area}}">{{area.name}}</option>
              </select>
              <span class="input-label padding">区</span>
              
              <select ng-model="location.store" ng-change="selectStore()">
                  <option ng-repeat="store in stores" value="{{store}}">{{store.name}}</option>
              </select>
              <span class="input-label padding">店</span>
          </div>
      </div>
      <button class="button button-block button-calm" ng-click="confirm()">确认</button>
      <button class="button button-block button-calm" ng-click="clear()">清除</button>
      
  </ion-content>
</ion-view>