<ion-view view-title="查询员工">
  <ion-content class="padding">
    <ion-searchbar></ion-searchbar>
    <ion-list>
      <ion-item ng-repeat="employeeBrief in employeeBriefList">
        {{employeeBrief.name}}
        <i class="icon ion-arrow-up-a" ng-show="employeeBrief.isCheckin" style="color:green"></i>
        <i class="icon ion-arrow-down-a" ng-show="!employeeBrief.isCheckin" style="color:red"></i>
        {{employeeBrief.checkinTime}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>